<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.gonchar17narod.forsuccess">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".common.ForSuccessApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.WebViewActivity">
        </activity>

        <meta-data
                android:name="AA_DB_NAME"
                android:value="forsuccess.db"/>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="1"/>

        <activity android:name=".ui.activities.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>